@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "Norse Bold";
  src: url(Norse-Bold.oft);
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.hidden {
  visibility: hidden;
}

/* ----- LAYOUT ----- */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(bg.jpg), url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: 700px ;
  background-repeat: no-repeat;
  background-color: #596D48;
}
  
.top {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  
.bottom {
  flex-grow: 3;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
  
.left {
  flex-grow: 1;
  flex-basis: 200px;  
}

.top .left,
.bottom .left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  
.right {
  flex-grow: 3;
  flex-basis: 500px;
  background-color: #f9fafb;
}

.top .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 80px 30px 30px;
}

.bottom .right { 
  display: flex;
  flex-direction: column;
}

.form-container {
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  padding: 20px 30px 30px 30px;  
}

.account-container {  
  padding: 20px 30px;  
}

/* ----- ELEMENTS ----- */

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.4);
  padding: 10px;
}
.logo img {
  display: block;
  height: 80px;
}
.logo h1 {
  font-family: "Norse Bold";
  font-size: 4rem;
  color: #fff;
}

.credits {
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 300;
  padding-bottom: 10px;
}
.credits a {
  color: #fff;
}

h2{
  font-size: 1.2rem;
}
h2:nth-of-type(3){
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
}

label {
  display: block;
  margin: 20px 0 5px;
  font-size: 0.7rem;
  font-weight: 500;
}

input {
  width: 200px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 5px;
}
input:focus {
  outline: none;
  border: 1px solid #1d4ed8;
}
input.error{
  outline: none;
  border: 1px solid #c23838;
}

.error-msg {
  color: #c23838;
  font-size: 0.6rem;
  font-weight: 500;
}

button[type="submit"]{
  background-color: #596D48;
  border: 0;
  border-radius: 5px;
  padding: 10px 40px;
  color: #f9fafb;
  font-size: 0.9em;
  font-weight: 500;
}

.account-container p {
  margin: 30px 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.account-container a{
  text-decoration: none;
  color: #596D48;
  font-weight: 600;
}

