@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "Norse Bold";
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

/* ASIDE AND IT'S ELEMENTS*/
aside {
  flex-grow: 1;
  flex-basis: 150px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: #596D48;
  background-image: url('bg.jpg');
  background-size: cover;
}

.logo-container {
  height: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.3);
  padding: 10px;
}
.logo img {
  display: block;
  height: 80px;
}
.logo h1 {
  font-family: "Norse Bold";
  font-size: 4rem;
  color: #fff;
}

.credits {
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 300;
  padding-bottom: 10px;
}
.credits a {
  color: #fff;
}


/* MAIN AND IT'S ELEMENTS*/
main {
  flex-grow: 2;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
}

section {
  flex-grow: 1;
  flex-basis: 30%;
  background-color: #f9fafb;
}

h2{
  font-size: 1.2rem;
}
h2:nth-of-type(3){
  margin-top: 20px;
}

/*---------*/
section.top {
  padding: 50px 80px 30px 30px;
}

/*---------*/
section.middle{
  background-color: #fff;
  padding: 20px 30px 30px 30px;;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  z-index: 2;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

label {
  display: block;
  margin: 20px 0 5px;
  font-size: 0.7rem;
  font-weight: 500;
}

input {
  width: 200px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 5px;
}
input:focus {
  outline: none;
  border: 1px solid #1d4ed8;
}

.error {
  visibility: hidden;
  color: #c23838;
  font-size: 0.6rem;
  font-weight: 500;
}

/*---------*/
section.bottom {
  padding: 20px 30px;
}

button[type="submit"]{
  background-color: #596D48;
  border: 0;
  border-radius: 5px;
  padding: 10px 40px;
  color: #f9fafb;
  font-size: 0.9em;
  font-weight: 500;
}

.bottom p {
  margin: 30px 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.bottom a{
  text-decoration: none;
  color: #596D48;
  font-weight: 600;
}