*{
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Roboto, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 8px 24px;
    display: flex;

}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul{
    list-style: none;
    display: flex;
    gap: 8px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}