* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 30px 150px;
}

.hero,
footer {
  background-color: #1f2937;
}

.secondary-text {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
}

/*----------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

header a {
  text-decoration: none;
}

header ul {
  display: flex;
}

header li {
  list-style-type: none;
  padding: 0 10px;
}

/*----------------------------------------------*/
main {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.text-container,
.img-container {
  flex: 1;
}
.img-container {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

main button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}

/*----------------------------------------------*/
.info h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  flex: 0 0 150px;
}

.card p {
  text-align: center;
}

.frame {
  border: 4px solid #3882f6;
  border-radius: 10px;
  height: 150px;
  margin: 50px 0 10px 0;
}

/*----------------------------------------------*/
.quote {
  background-color: #e5e7eb;
  padding: 150px 300px;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote h3 {
  text-align: right;
}

/*----------------------------------------------*/
.calltoaction {
  background-color: #3882f6;
  margin: 100px 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 50px 50px;
  color: white;
}

.c2a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.calltoaction button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px 15px;
  border: 3px solid #e5e7eb;
  color: #e5e7eb;
  border-radius: 5px;
}

/*----------------------------------------------*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #e5e7eb;
}
